.arka{
    background-image: url(backgraund.png);
    top: 300px;
    left: 300px;
    width: 750px;
    height: 750px;
}
.a,.b,.c,.d{
    
    
    
    cursor: move;
    position: relative;
    
}
.e{
    cursor: move;
    position: relative;
    top: -650px;
    left: 570px;
}
.f{
    cursor: move;
    position: relative;
    top: -600px;
    left: 600px;
}

.g{
    cursor: move;
    position: relative;
    top: -600px;
    left: 600px;
}


